click==8.1.7
datasets==2.18.0
huggingface_hub==0.22.1
loguru==0.7.2
Pillow==10.3.0
pydantic==2.7.1
pytorch_lightning==2.2.1
Requests==2.31.0
timm==0.9.16
torch==2.2.2
torchvision==0.17.2
tqdm==4.66.2
transformers==4.39.2
